@media only screen and (max-width:768px){

    .thumbnail img
    {
    height: 0px;
    }
    
    .header-title 
      {
        font-size: 30px;
        margin-top: 100px;
      }
    
      .navbar-btn-one {
        width: 230px;
        color: black;
        background-color: yellow;
        border: none;
        border-radius: 5px;
        padding: 10px 30px 10px 30px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 15px;
        box-shadow: .3s;
      }
      .navbar-btn-two {
          width: 230px;
        color: yellow;
        background-color:black;
        border: none;
        border-radius: 5px;
        padding: 10px 30px 10px 30px;
        margin-top: 30px;
        margin-right: 15px;
      
      }
    }
    .navbar-right
    {
        display: flex;
    }
    .brain
    {
        margin-top: 10px;
    }
    .separate
    {
        margin-bottom: 4300px;
    }

    .header-bg 
    {
      background-color: purple;
      color: white;
      clip-path: polygon(0 0, 0 15%, 100% 13%, 100% 100%, 100% 100%, 0 100%, 0 84%, 100% 81%, 100% 0); 
      height: 5300px; 
      position: absolute;
    }
    .footer 
    {
      margin-top: 80px;
    }
    .footer-right
    {
    color: yellow;
    margin-top: 50px;
    font-size: 30px;
    padding: 0px 60px 0px 60px;

    }
    .footer-logo img
    {
    margin-top: 40px;
    height: 50px;
    width: 190px;
    }
    .footer-margin
    {
      padding-top: 50px;
    }
    .footer-sp
    {
      background-color: purple;
      height: 800px;
      clip-path: polygon(0 40%, 100% 11%, 100% 100%, 0% 100%);
      color: white;

    }



  


